<div id="about" class="layout-static_pages">
  <h1>About</h1>

   <h4> Because The Healthy Mind in the healthy body is 
We offer you healthy and nutritious food</h4>
<img src="https://static.pexels.com/photos/257816/pexels-photo-257816.jpeg" alt="" class="img-responsive" width="" height="">

</div>
