<div id="about" class="layout-static_pages">
  <h1>About</h1>
  <p> Because The Healthy Mind in thehealthy body is 
We offer you healthy and nutritious food</p>




<img id="zoom_01" src='https://static.pexels.com/photos/257816/pexels-photo-257816.jpeg' data-zoom-image="https://static.pexels.com/photos/257816/pexels-photo-257816.jpeg "/>

<script>
    $('#zoom_01').elevateZoom();
</script>

</div>
