  <div id="index" class="layout-static_pages">
    <h1>Welcome to VEGTABLES ONLINE MARKET  </h1>
  


<img class="img-circle" src="https://static.pexels.com/photos/36740/vegetables-vegetable-basket-harvest-garden.jpg" alt="" class="img-responsive" width="1210" height="700">

 
