// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout-product {
  color: whitesmoke;
}


.img {
  zoom: 50%;
 width: 400px;
  height: 300px;
}

.thumbnail{
width: 600px;
  height: 900px;
}


