// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout-product {
  color: blue;
}


.img {
  zoom: 50%;
 width: 100px;
  height: 150px;
}

.thumbnail{
width: 500px;
  height: 600px;
}


