// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout-product {
  color: blue;
}


.img {
  zoom: 50%;
 width: 200px;
  height: 300px;
}

.thumbnail{
width: 900px;
  height: 1200px;
}


