<div class="product-reviews">
    <% @comments.each do |comment| %>
         <%= render comment %>
    <% end %>
</div>

  <% end %>
  <div class="digg_pagination">
    <%= will_paginate @comments %>
  </div>

</div>
